.filter {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.filter__input {
  color: #252525;
  font: inherit;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 4px;
  border: 2px solid #bdbdbd;
  width: 250px;
  outline: 0;
}

.filter__input:focus {
  border: 1px solid #2b32b2;
}

.filter_label {
  width: 370px;
   display: inline-block;
  margin-bottom: 16px;
  font-size: 20px;
  color: #252525;
  cursor: pointer;
}